# This file contains common pin mappings for the BigTreeTech Octopus.
# To use this config, the firmware should be compiled for the
# STM32F446 with a "32KiB bootloader" and a "12MHz crystal" clock reference.

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[display_status]

[pause_resume]

[include macros.cfg]
[include OrbiterSensor.cfg]
[include timelapse.cfg]

[mcu]
serial: /dev/ttyAMA0
restart_method: command
baud: 250000
# CAN bus is also available on this board

[mcu rpi]
serial: /tmp/klipper_host_mcu

[mcu ebb]
canbus_uuid: 718cb04987cf
canbus_interface: can0

[mcu eddy]
canbus_uuid: 6d86f619a33e
canbus_interface: can0

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor Printer_MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Hotend_MCU]
sensor_type: temperature_mcu
sensor_mcu: ebb
min_temp: 0
max_temp: 100

[temperature_sensor Eddy_MCU]
sensor_type: temperature_mcu # Sets the type of sensor for Klipper to read
sensor_mcu: eddy # Sets the MCU of the eddy probe tempereature sensor
min_temp: 10 # Sets the minimum tempereature for eddys tempereature sensor to operate
max_temp: 100 # Sets the maximum tempereature for eddys tempereature sensor to operate

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 20000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 7

[board_pins] 	# EXP1 / EXP2 (display) pins
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

## Motor B
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 375
position_min: -23
position_max: 375
homing_speed: 100
homing_retract_dist: 5
#use_sensorless_homing: true

[tmc2209 stepper_x]
uart_pin: PC4
diag_pin: PG6
#driver_SGTHRS: 77
run_current: 1.14
#home_current: 1.0
#current_change_dwell_time: 0.2
interpolate: False
stealthchop_threshold: 0

[autotune_tmc stepper_x]
motor: omc-17he19-2004s
sg4_thrs: 77

## Motor A
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 365
position_min: -23
position_max: 365
homing_speed: 100
homing_retract_dist: 5
#use_sensorless_homing: true

[tmc2209 stepper_y]
uart_pin: PD11
diag_pin: PG9
#driver_SGTHRS: 87
run_current: 1.14
#home_current: 1.0
#current_change_dwell_time: 0.2
interpolate: False
stealthchop_threshold: 0

[autotune_tmc stepper_y]
motor: omc-17he19-2004s
sg4_thrs: 87

[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 256
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_max: 400
position_min: -3
homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PC6
#diag_pin: PG10
run_current: 0.85
interpolate: False
stealthchop_threshold: 0

[autotune_tmc stepper_z]
motor: omc-17he15-1504s

[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 256 #128 #16
rotation_distance: 4
#endstop_pin: probe:z_virtual_endstop
#position_max: 400
#position_min: 0
#homing_speed: 10.0

[tmc2209 stepper_z1]
uart_pin: PC7
#diag_pin: PG11
run_current: 0.85
interpolate: False
stealthchop_threshold: 0

[autotune_tmc stepper_z1]
motor: omc-17he15-1504s

[extruder]
step_pin: ebb:PD0
dir_pin: ebb:PD1
enable_pin: !ebb:PD2
microsteps: 64
rotation_distance: 4.63
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.035
heater_pin: ebb:PB13 # HE0
sensor_pin: ebb:PA3 # T0
sensor_type: ATC Semitec 104NT-4-R025H42G
max_extrude_only_distance: 200.0
max_extrude_only_velocity: 60
max_extrude_cross_section: 5 
control: pid
pid_Kp: 21.744
pid_Ki: 2.071
pid_Kd: 57.077
min_temp: 0
max_temp: 500

[tmc2209 extruder]
uart_pin: ebb:PA15
run_current: 0.350
interpolate: False
stealthchop_threshold: 0

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg

[fan]
pin: ebb:PA1
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0

[heater_fan hotend_fan]
pin: ebb:PA0
max_power:1.0
shutdown_speed:0
cycle_time:0.010
hardware_pwm:false
kick_start_time:0.100
off_below:0.0
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[firmware_retraction]
retract_length: 1.2
retract_speed: 45
unretract_speed: 30

[neopixel hotend_rgb]
pin: ebb:PD3

[adxl345]
cs_pin: ebb:PB12
spi_software_sclk_pin: ebb:PB10
spi_software_mosi_pin: ebb:PB11
spi_software_miso_pin: ebb:PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 50

#[filament_switch_sensor filament_sensor]
#switch_pin: PG12

[probe_eddy_current btt_eddy]
sensor_type: ldc1612
z_offset: 2.5
#i2c_address:
i2c_mcu: eddy  # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the MCU you have used.
i2c_bus: i2c0f # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the I2C bus you have used.
# Measure the offsets below using the method described here: https://www.klipper3d.org/Probe_Calibrate.html#calibrating-probe-x-and-y-offsets
# For a standard Voron stealthburner X carriage mount there should be no need to change the defaults below.
x_offset: -43
y_offset: -22

# This section is only relevant for Eddy USB. Comment it out for Eddy Coil.
[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 2

[safe_z_home]
home_xy_position: 175, 175
speed: 200
z_hop: 10
z_hop_speed: 25

[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 66.304
pid_Ki: 0.451
pid_Kd: 2439.166
min_temp: 0
max_temp: 130

#[fan]	# Part cooling fan
#pin: PA8  # FAN0

#[heater_fan fan1]
#pin: PE5

#[heater_fan fan2]
#pin: PD12

#[heater_fan fan3]
#pin: PD13

#[heater_fan fan4]
#pin: PD14

[controller_fan Steppers]
pin:PD15
max_power:1.0
shutdown_speed:0
cycle_time:0.010
hardware_pwm:false
kick_start_time:0.100
off_below:0.0
fan_speed: 1.0
idle_timeout:60
idle_speed:0.50
heater:extruder

[screws_tilt_adjust]
screw1: 55, 35
screw1_name: front left screw
screw2: 345, 35
screw2_name: front right screw
screw3: 345, 305
screw3_name: rear right screw
screw4: 55, 305
screw4_name: rear left screw
horizontal_move_z: 5.
speed: 300
screw_thread: CW-M4

[bed_mesh]
horizontal_move_z: 2
speed: 200
# For the mesh dimensions below, the coordinates need to be reachable by the center of the probe. To calculate coordinates that will work, use the formula below:
# mesh x min = position_min_x + greater_of (15mm or x_offset) <--- in this term, only consider the x offset if it is positive, ignore if negative.
# mesh y min = position_min_y + greater_of (15mm or y_offset) <--- in this term, only consider the y offset if it is positive, ignore if negative.
# mesh x max = position_max_x - greater_of (15mm or |x_offset|) <--- in this term, only consider the x offset if it is negative, ignore if positive.
# mesh y max = position_max_y - greater_of (15mm or |y_offset|) <--- in this term, only consider the y offset if it is negative, ignore if positive.
# Example: Consider that you have a 300 x 300 bed with the max x and y positions being 300 and the min being 0. Your probe offsets are -20 for X and 10 for Y
# For mesh x min we ignore the x offset term because it is negative. Therefore mesh x min = 15
# For mesh y min we do not ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y min = 15
# For mesh x max we do not ignore the x offset term because it is negative. It is also greater than 15. Therefore mesh x max = 280
# For mesh y max we ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y max = 285
# The final result would be mesh_min: 15, 15 mesh_max: 280, 285
mesh_min: -10, 0  # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
mesh_max: 332, 333 # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
probe_count: 9, 9
algorithm: bicubic
#scan_overshoot: 8  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.

[z_tilt]
z_positions:
    -10, 165
    350, 165
points:
    30, 175
    350, 175
#    55, 35
#    345, 35
#    345, 305
#    55, 305
speed: 300
horizontal_move_z: 7.5
retries: 10
retry_tolerance: 0.00750

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050000:3246916.816,0.090000:3245865.844,0.130000:3244737.809,
#*# 	0.170000:3243639.429,0.210000:3242538.791,0.250000:3241461.407,
#*# 	0.290000:3240441.075,0.330000:3239431.763,0.370000:3238508.188,
#*# 	0.410000:3237591.777,0.450000:3236715.337,0.490000:3235826.011,
#*# 	0.530000:3234959.740,0.570000:3234060.422,0.610000:3233115.075,
#*# 	0.650000:3232237.767,0.690000:3231350.438,0.730000:3230498.161,
#*# 	0.770000:3229642.580,0.810000:3228816.478,0.850000:3228054.944,
#*# 	0.890000:3227266.016,0.930000:3226518.219,0.970000:3225756.871,
#*# 	1.010000:3225000.617,1.050000:3224281.402,1.090000:3223551.852,
#*# 	1.130000:3222878.315,1.170000:3222200.351,1.210000:3221538.464,
#*# 	1.250000:3220897.552,1.290000:3220277.173,1.330000:3219670.982,
#*# 	1.370000:3219049.498,1.410000:3218438.165,1.450000:3217840.841,
#*# 	1.490000:3217275.497,1.530000:3216694.922,1.570000:3216119.923,
#*# 	1.610000:3215587.651,1.650000:3215050.800,1.690000:3214496.514,
#*# 	1.730000:3213975.447,1.770000:3213459.560,1.810000:3212981.405,
#*# 	1.850000:3212458.853,1.890000:3211976.947,1.930000:3211496.169,
#*# 	1.970000:3211035.572,2.010000:3210565.522,2.050000:3210148.745,
#*# 	2.090000:3209701.767,2.130000:3209255.308,2.170000:3208806.998,
#*# 	2.210000:3208359.373,2.250000:3207934.594,2.290000:3207557.289,
#*# 	2.330000:3207142.897,2.370000:3206762.002,2.410000:3206393.357,
#*# 	2.450000:3206027.877,2.490000:3205666.039,2.530000:3205319.149,
#*# 	2.570000:3204921.037,2.610000:3204552.330,2.650000:3204172.991,
#*# 	2.690000:3203815.472,2.730000:3203447.417,2.770000:3203136.584,
#*# 	2.810000:3202791.356,2.850000:3202489.521,2.890000:3202162.745,
#*# 	2.930000:3201879.725,2.970000:3201578.068,3.010000:3201305.283,
#*# 	3.050000:3201071.388,3.090000:3200806.117,3.130000:3200565.551,
#*# 	3.170000:3200348.380,3.210000:3200098.071,3.250000:3199800.872,
#*# 	3.290000:3199542.785,3.330000:3199295.661,3.370000:3199037.182,
#*# 	3.410000:3198788.276,3.450000:3198536.582,3.490000:3198300.419,
#*# 	3.530000:3198065.562,3.570000:3197816.845,3.610000:3197583.059,
#*# 	3.650000:3197348.054,3.690000:3197120.408,3.730000:3196891.092,
#*# 	3.770000:3196666.399,3.810000:3196476.794,3.850000:3196279.725,
#*# 	3.890000:3196082.786,3.930000:3195896.406,3.970000:3195695.415,
#*# 	4.010000:3195487.672,4.050000:3195314.040
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 45.141461
#*# drift_calibration =
#*# 	3292017.814324, -1515.902153, 13.329152
#*# 	3266090.884225, -1017.191415, 8.620201
#*# 	3251143.246796, -873.409843, 7.539506
#*# 	3236426.439596, -630.485756, 5.190790
#*# 	3226598.580582, -526.123686, 4.387371
#*# 	3214703.616476, -256.057866, 1.704424
#*# 	3212469.974095, -350.497810, 2.748166
#*# 	3206694.048845, -258.592102, 1.852661
#*# 	3202011.587993, -190.456032, 1.261249
#*# drift_calibration_min_temp = 37.01800205077498
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.004731, 0.015005, 0.028788, 0.040359, 0.020568, 0.059373, 0.069002, 0.038457, 0.087596
#*# 	  -0.005190, -0.042702, -0.012977, -0.009083, -0.050693, -0.000088, 0.015976, -0.016179, 0.018373
#*# 	  -0.001550, 0.003235, -0.014438, -0.028636, -0.052878, -0.023845, 0.005422, 0.009906, 0.058700
#*# 	  0.052504, 0.015763, -0.003631, -0.024580, -0.044222, -0.021224, 0.005101, 0.007146, 0.038097
#*# 	  0.044946, 0.015748, 0.003294, -0.005886, -0.029696, -0.016253, 0.008294, -0.016673, 0.055340
#*# 	  0.073757, 0.037861, 0.002848, 0.004007, -0.015206, -0.010881, 0.011083, 0.009143, 0.036718
#*# 	  0.060167, 0.034942, 0.026971, 0.023083, -0.000713, 0.014103, 0.028478, 0.008641, 0.068234
#*# 	  0.099161, 0.041697, 0.060825, 0.073167, 0.028817, 0.049911, 0.043122, 0.003320, 0.019709
#*# 	  0.183901, 0.104352, 0.095892, 0.127101, 0.212108, 0.124273, 0.025383, -0.016469, 0.042591
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = -10.0
#*# max_x = 332.0
#*# min_y = 0.0
#*# max_y = 332.96
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 68.0
#*# shaper_type_y = 3hump_ei
#*# shaper_freq_y = 57.4
