# This file contains common pin mappings for the BigTreeTech Octopus.
# To use this config, the firmware should be compiled for the
# STM32F446 with a "32KiB bootloader" and a "12MHz crystal" clock reference.

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[display_status]

[pause_resume]

[include macros.cfg]
[include OrbiterSensor.cfg]
[include timelapse.cfg]

[mcu]
serial: /dev/ttyAMA0
restart_method: command
baud: 250000
# CAN bus is also available on this board

[mcu rpi]
serial: /tmp/klipper_host_mcu

[mcu ebb]
canbus_uuid: 718cb04987cf
canbus_interface: can0

[mcu eddy]
canbus_uuid: 6d86f619a33e
canbus_interface: can0

[temperature_sensor Raspberry_Pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor Printer_MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Hotend_MCU]
sensor_type: temperature_mcu
sensor_mcu: ebb
min_temp: 0
max_temp: 100

[temperature_sensor Eddy_MCU]
sensor_type: temperature_mcu # Sets the type of sensor for Klipper to read
sensor_mcu: eddy # Sets the MCU of the eddy probe tempereature sensor
min_temp: 10 # Sets the minimum tempereature for eddys tempereature sensor to operate
max_temp: 100 # Sets the maximum tempereature for eddys tempereature sensor to operate

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 20000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 7

[board_pins] 	# EXP1 / EXP2 (display) pins
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

## Motor B
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 375
position_min: -23
position_max: 375
homing_speed: 100
homing_retract_dist: 5
#use_sensorless_homing: true

[tmc2209 stepper_x]
uart_pin: PC4
diag_pin: PG6
#driver_SGTHRS: 77
run_current: 1.14
#home_current: 1.0
#current_change_dwell_time: 0.2
interpolate: False
stealthchop_threshold: 0

[autotune_tmc stepper_x]
motor: omc-17he19-2004s
sg4_thrs: 77

## Motor A
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 64
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 365
position_min: -23
position_max: 365
homing_speed: 100
homing_retract_dist: 5
#use_sensorless_homing: true

[tmc2209 stepper_y]
uart_pin: PD11
diag_pin: PG9
#driver_SGTHRS: 87
run_current: 1.14
#home_current: 1.0
#current_change_dwell_time: 0.2
interpolate: False
stealthchop_threshold: 0

[autotune_tmc stepper_y]
motor: omc-17he19-2004s
sg4_thrs: 87

[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 256
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_max: 400
position_min: -3
homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PC6
#diag_pin: PG10
run_current: 0.85
interpolate: False
stealthchop_threshold: 0

[autotune_tmc stepper_z]
motor: omc-17he15-1504s

[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 256 #128 #16
rotation_distance: 4
#endstop_pin: probe:z_virtual_endstop
#position_max: 400
#position_min: 0
#homing_speed: 10.0

[tmc2209 stepper_z1]
uart_pin: PC7
#diag_pin: PG11
run_current: 0.85
interpolate: False
stealthchop_threshold: 0

[autotune_tmc stepper_z1]
motor: omc-17he15-1504s

[extruder]
step_pin: ebb:PD0
dir_pin: ebb:PD1
enable_pin: !ebb:PD2
microsteps: 64
rotation_distance: 4.63
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.035
heater_pin: ebb:PB13 # HE0
sensor_pin: ebb:PA3 # T0
sensor_type: ATC Semitec 104NT-4-R025H42G
max_extrude_only_distance: 200.0
max_extrude_only_velocity: 60
max_extrude_cross_section: 5 
control: pid
pid_Kp: 21.744
pid_Ki: 2.071
pid_Kd: 57.077
min_temp: 0
max_temp: 500

[tmc2209 extruder]
uart_pin: ebb:PA15
run_current: 0.350
interpolate: False
stealthchop_threshold: 0

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg

[fan]
pin: ebb:PA1
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0

[heater_fan hotend_fan]
pin: ebb:PA0
max_power:1.0
shutdown_speed:0
cycle_time:0.010
hardware_pwm:false
kick_start_time:0.100
off_below:0.0
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[firmware_retraction]
retract_length: 1.2
retract_speed: 45
unretract_speed: 30

[neopixel hotend_rgb]
pin: ebb:PD3

[adxl345]
cs_pin: ebb:PB12
spi_software_sclk_pin: ebb:PB10
spi_software_mosi_pin: ebb:PB11
spi_software_miso_pin: ebb:PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 50

#[filament_switch_sensor filament_sensor]
#switch_pin: PG12

[probe_eddy_current btt_eddy]
sensor_type: ldc1612
descend_z: 2.5
#i2c_address:
i2c_mcu: eddy  # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the MCU you have used.
i2c_bus: i2c0f # This value is good for the Eddy USB but would need to be adjusted for the Eddy Coil according to the I2C bus you have used.
# Measure the offsets below using the method described here: https://www.klipper3d.org/Probe_Calibrate.html#calibrating-probe-x-and-y-offsets
# For a standard Voron stealthburner X carriage mount there should be no need to change the defaults below.
x_offset: -43
y_offset: -22

# This section is only relevant for Eddy USB. Comment it out for Eddy Coil.
[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 2

[safe_z_home]
home_xy_position: 175, 175
speed: 200
z_hop: 10
z_hop_speed: 25

[heater_bed]
heater_pin: PA1
sensor_pin: PF3 # TB
sensor_type: EPCOS 100K B57560G104F
#control: pid
#pid_Kp: 66.304
#pid_Ki: 0.451
#pid_Kd: 2439.166
min_temp: 0
max_temp: 130

#[fan]	# Part cooling fan
#pin: PA8  # FAN0

#[heater_fan fan1]
#pin: PE5

#[heater_fan fan2]
#pin: PD12

#[heater_fan fan3]
#pin: PD13

#[heater_fan fan4]
#pin: PD14

[controller_fan Steppers]
pin:PD15
max_power:1.0
shutdown_speed:0
cycle_time:0.010
hardware_pwm:false
kick_start_time:0.100
off_below:0.0
fan_speed: 1.0
idle_timeout:60
idle_speed:0.50
heater:extruder

[screws_tilt_adjust]
screw1: 55, 35
screw1_name: front left screw
screw2: 345, 35
screw2_name: front right screw
screw3: 345, 305
screw3_name: rear right screw
screw4: 55, 305
screw4_name: rear left screw
horizontal_move_z: 5.
speed: 300
screw_thread: CW-M4

[bed_mesh]
horizontal_move_z: 2
speed: 200
# For the mesh dimensions below, the coordinates need to be reachable by the center of the probe. To calculate coordinates that will work, use the formula below:
# mesh x min = position_min_x + greater_of (15mm or x_offset) <--- in this term, only consider the x offset if it is positive, ignore if negative.
# mesh y min = position_min_y + greater_of (15mm or y_offset) <--- in this term, only consider the y offset if it is positive, ignore if negative.
# mesh x max = position_max_x - greater_of (15mm or |x_offset|) <--- in this term, only consider the x offset if it is negative, ignore if positive.
# mesh y max = position_max_y - greater_of (15mm or |y_offset|) <--- in this term, only consider the y offset if it is negative, ignore if positive.
# Example: Consider that you have a 300 x 300 bed with the max x and y positions being 300 and the min being 0. Your probe offsets are -20 for X and 10 for Y
# For mesh x min we ignore the x offset term because it is negative. Therefore mesh x min = 15
# For mesh y min we do not ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y min = 15
# For mesh x max we do not ignore the x offset term because it is negative. It is also greater than 15. Therefore mesh x max = 280
# For mesh y max we ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y max = 285
# The final result would be mesh_min: 15, 15 mesh_max: 280, 285
mesh_min: -10, 0  # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
mesh_max: 332, 333 # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
probe_count: 9, 9
algorithm: bicubic
#scan_overshoot: 8  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning. Uncommenting this should be fine if you are using a standard voron mount.

[z_tilt]
z_positions:
    -10, 165
    350, 165
points:
    30, 175
    350, 175
#    55, 35
#    345, 35
#    345, 305
#    55, 305
speed: 300
horizontal_move_z: 7.5
retries: 10
retry_tolerance: 0.00750

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050000:3238005.774,0.090000:3237177.687,0.130000:3236260.725,
#*# 	0.170000:3235362.750,0.210000:3234382.021,0.250000:3233462.924,
#*# 	0.290000:3232540.309,0.330000:3231626.015,0.370000:3230808.869,
#*# 	0.410000:3229956.338,0.450000:3229117.588,0.490000:3228269.490,
#*# 	0.530000:3227425.499,0.570000:3226591.949,0.610000:3225771.638,
#*# 	0.650000:3224990.080,0.690000:3224266.320,0.730000:3223542.490,
#*# 	0.770000:3222813.325,0.810000:3222088.965,0.850000:3221394.259,
#*# 	0.890000:3220731.709,0.930000:3220064.188,0.970000:3219397.625,
#*# 	1.010000:3218738.850,1.050000:3218089.785,1.090000:3217452.523,
#*# 	1.130000:3216855.848,1.170000:3216261.524,1.210000:3215676.843,
#*# 	1.250000:3215104.153,1.290000:3214553.876,1.330000:3214016.924,
#*# 	1.370000:3213451.385,1.410000:3212884.167,1.450000:3212344.126,
#*# 	1.490000:3211813.310,1.530000:3211309.618,1.570000:3210808.676,
#*# 	1.610000:3210312.501,1.650000:3209829.504,1.690000:3209363.944,
#*# 	1.730000:3208914.462,1.770000:3208490.700,1.810000:3208044.675,
#*# 	1.850000:3207627.799,1.890000:3207180.874,1.930000:3206719.405,
#*# 	1.970000:3206321.204,2.010000:3205885.702,2.050000:3205510.752,
#*# 	2.090000:3205087.810,2.130000:3204698.327,2.170000:3204338.130,
#*# 	2.210000:3203979.325,2.250000:3203619.812,2.290000:3203262.276,
#*# 	2.330000:3202926.142,2.370000:3202579.933,2.410000:3202252.436,
#*# 	2.450000:3201927.647,2.490000:3201609.488,2.530000:3201287.314,
#*# 	2.570000:3200971.817,2.610000:3200660.350,2.650000:3200332.146,
#*# 	2.690000:3200018.674,2.730000:3199719.876,2.770000:3199431.726,
#*# 	2.810000:3199164.920,2.850000:3198882.815,2.890000:3198613.979,
#*# 	2.930000:3198347.857,2.970000:3198081.719,3.010000:3197850.233,
#*# 	3.050000:3197610.140,3.090000:3197356.720,3.130000:3197123.913,
#*# 	3.170000:3196884.374,3.210000:3196640.986,3.250000:3196410.917,
#*# 	3.290000:3196182.105,3.330000:3195957.989,3.370000:3195732.504,
#*# 	3.410000:3195493.072,3.450000:3195270.326,3.490000:3195061.567,
#*# 	3.530000:3194858.119,3.570000:3194666.004,3.610000:3194468.601,
#*# 	3.650000:3194276.545,3.690000:3194100.467,3.730000:3193923.001,
#*# 	3.770000:3193745.586,3.810000:3193565.552,3.850000:3193370.072,
#*# 	3.890000:3193178.035,3.930000:3193001.857,3.970000:3192821.136,
#*# 	4.010000:3192652.376,4.050000:3192458.915
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 36.485639
#*# drift_calibration =
#*# 	3292017.814324, -1515.902153, 13.329152
#*# 	3266090.884225, -1017.191415, 8.620201
#*# 	3251143.246796, -873.409843, 7.539506
#*# 	3236426.439596, -630.485756, 5.190790
#*# 	3226598.580582, -526.123686, 4.387371
#*# 	3214703.616476, -256.057866, 1.704424
#*# 	3212469.974095, -350.497810, 2.748166
#*# 	3206694.048845, -258.592102, 1.852661
#*# 	3202011.587993, -190.456032, 1.261249
#*# drift_calibration_min_temp = 37.01800205077498
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.003862, 0.044469, 0.067491, 0.079088, 0.059910, 0.086839, 0.089765, 0.049553, 0.066839
#*# 	0.014386, 0.016844, 0.044076, 0.048137, 0.010509, 0.043298, 0.050778, 0.005240, 0.009696
#*# 	0.022033, 0.058970, 0.051732, 0.031803, 0.004893, 0.019592, 0.035922, 0.017556, 0.029548
#*# 	0.076277, 0.078828, 0.062825, 0.038773, 0.014565, 0.018764, 0.028225, 0.008434, 0.006702
#*# 	0.078251, 0.085380, 0.069369, 0.049675, 0.020380, 0.021615, 0.022029, -0.019000, 0.008835
#*# 	0.108047, 0.104274, 0.076543, 0.060442, 0.026659, 0.018413, 0.021241, -0.001428, -0.013301
#*# 	0.101593, 0.101535, 0.089810, 0.078437, 0.039840, 0.041533, 0.030751, -0.011669, 0.000826
#*# 	0.140831, 0.106079, 0.112580, 0.110072, 0.060719, 0.061928, 0.031258, -0.025396, -0.055069
#*# 	0.209144, 0.124753, 0.111806, 0.134444, 0.209998, 0.107628, -0.019817, -0.091790, -0.083685
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = -10.0
#*# max_x = 332.0
#*# min_y = 0.0
#*# max_y = 332.96
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 68.0
#*# shaper_type_y = 3hump_ei
#*# shaper_freq_y = 57.4
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 68.791
#*# pid_ki = 0.733
#*# pid_kd = 1614.877
